
body{
	width: 100%;
	height: 100vh;
	margin: 0;
}

.section{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.blue.scrolled{
	background-color: #fff
}

.blue{
	background-color: blue
}

.purple{
	background-color: purple
}

.green{
	background-color: green
}

.orange{
	background-color: orange
}



.section.scrolled{
	color: #000000;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}